a {
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	word-break: break-word;
}

.post-content a {
	border-bottom: solid 1px rgba(255, 153, 153, 0.5);
}

.post-content a:hover {
	border-bottom: solid 3px rgba(255, 153, 153, 0.5);
	border-bottom-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 700;
	margin-block-start: 0;
	margin-block-end: 0.5em;
	text-rendering: optimizeLegibility;
}

p {
	font-family: sans-serif;
	line-height: 1.5rem;
	margin-block-start: 0.5em;
	margin-block-end: 1.5em;
	word-break: break-word;
}

ul {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

img {
	width: 100%;
	height: 100%;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	padding: 0 !important;
	border: none !important;
}

.is-layout-flex {
	margin-block-start: 0.5em;
	margin-block-end: 1.5em;
}

.at-center {
	margin-left: auto;
	margin-right: auto;
}

.d-flex {
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.bgblur-0_8em {
	-webkit-backdrop-filter: blur(0.8em);
	backdrop-filter: blur(0.8em);
}

.trans-0_5 {
	-webkit-transition: 0.5s !important;
	-moz-transition: 0.5s !important;
	-ms-transition: 0.5s !important;
	transition: 0.5s !important;
}

button, button.wp-block-search__button, input[type="submit"] {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	color: #ffffff;
	background-color: transparent;
	border: solid 1px #ffffff;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	color: #ff9999;
	background-color: rgba(255, 153, 153, 0.2);
	border: solid 1px #ff9999;
}

blockquote {
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.7;
}

figcaption {
	font-size: 0.875rem;
	font-style: italic;
	line-height: 1.7;
}

/*网页整体*/
body {
	background-color: #000000;
	margin: 0;
	font-size: 1rem;
	line-height: 1.75;
}

body > * {
	color: #ffffff;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://s1.ax1x.com/2022/11/20/zMAkKe.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

/*主菜单*/
#main-menu {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.3rem 2rem;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
}

.main-menu-wrapper {
	margin: 0 auto;
	max-width: 72rem;
	height: 100%;
}

#main-menu a.custom-logo-link {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.5rem;
}

.site-branding > * {
	display: inline-block;
	margin: 0;
	line-height: 1.35;
}

#main-menu .site-description {
	margin-left: 0.5rem;
	font-size: small;
}

#main-menu a {
	color: #ffffff;
}

#main-menu a:hover {
	color: #ff9999;
}

#main-menu nav ul {
	margin: 0;
	padding: 0;
}

#main-menu nav li {
	display: inline-block;
	list-style: none;
}

#main-menu nav a {
	display: block;
	padding: 0.3rem 0.5rem;
}

#main-menu nav ul ul {
	display: none;
}

#main-menu nav ul ul li:last-child {
	border-bottom: none;
}

#main-menu .dropdown-button {
	border: none;
	text-transform: none;
	width: 3rem;
}

#main-menu .dropdown-button:after {
	content: "\f431";
	font-size: 1.1rem;
	font-family: "Genericons", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #ff9999;
}

#main-menu .dropdown-button.button-on:after {
	content: "\f432";
}

.admin-bar #main-menu {
	top: 32px;
}

/*页面主体*/
#page {
	margin: 5rem auto 1rem;
	border-radius: 1rem;
	width: 70em;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.33);
}

#page a {
	color: #ff9999;
}

#page a:hover {
	color: #47d3ea;
}

#page a.button {
	border: none;
}

article {
	transition: background-color 0.2s ease-in-out;
	border-radius: 1rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

article:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.outer-post-thumb {
	display: none;
}

article.post-list .post-title {
	width: 100%;
	margin: 0.25rem 0.6rem;
}

.post-content-wrapper {
	margin: 0 0 0.6rem 0.6rem;
	width: 47.5%;
}

.post-time {
	font-size: small;
}

.inner-post-thumb {
	width: 47.5%;
}

.inner-post-thumb a {
	display: block;
	overflow: hidden;
	height: 100%;
	border-radius: 1rem 0 1rem 0;
}

.inner-post-thumb img {
	object-fit: cover;
}

.inner-post-thumb img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#single {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 1.5rem !important;
}

#comments {
	transition: background-color 0.2s ease-in-out;
	border-radius: 1rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.4);
	padding: 1.5rem !important;
}

#comments .comment-list {
	padding: 0;
	margin: 0.5rem 0;
}

#comments .comment-list li {
	list-style: none;
	border-top: 1px solid rgba(255, 153, 153, 0.34);
}

#comments .comment-list li:last-child {
	border-bottom: 1px solid rgba(255, 153, 153, 0.34);
}

#comments .comment-body {
	margin: 0.5rem 0;
}

#comments p {
	margin: 0 0 0.5em 0;
}

#respond {
	margin: 0.5rem 0;
}

#respond .comment-form-comment {
}

#respond textarea {
	width: 100% !important;
	border: none;
	padding: 0;
	border-radius: 3px;
}

#respond textarea:focus-visible {
	outline: none;
}

#sidebar section {
	border-top: 3px solid rgba(255, 153, 153, 0.5);
	margin-bottom: 1.5em;
	padding-top: 1em;
}

/*页脚*/
#footer {
	text-align: center;
	margin: 0 1rem 0 1rem;
}

@media screen and (min-width: 100em) {
	#page {
		width: 70rem;
	}
}

@media screen and (min-width: 48.875em) {
	#main-menu button.top-menu-button, #main-menu button.dropdown-button {
		display: none;
	}

	#main-menu nav a {
		border-radius: 0.5rem;
	}

	#main-menu nav a:hover {
		background-color: rgba(255, 153, 153, 0.2);
	}

	#main-menu nav ul ul { /* TODO 子菜单尚不完善 */
		position: absolute;
		/*right: 0;*/
		/*left: auto;*/
		margin: 0;
		border-radius: 0.5rem;
		background-color: rgba(0, 0, 0, 0.8); /* 模糊背景 */
		z-index: 99999;
	}

	#main-menu nav ul li:hover > ul {
		display: block;
		/*right: 0;*/
		/*left: auto;*/
	}

	#main-menu nav ul ul li {
		display: list-item;
	}

	#main-menu nav ul ul a {
		display: block;
		border-radius: 0;
		background: none !important;
		padding: 0.3rem;
	}

	/*内容容器*/
	#content:after {
		content: "";
		display: table;
		clear: both;
	}

	/*主要部分*/
	#main {
		float: left;
		width: 70%;
		margin-right: -100%;
	}

	/*侧边栏*/
	#sidebar {
		float: left;
		margin-left: 75%;
		width: 25%;
	}
}

@media screen and (max-width: 77em) {
	#page {
		margin: 5rem 1.5rem 1.5rem;
		width: auto;
	}
}

@media screen and (max-width: 48.875em) {
	#main-menu {
		position: static;
	}

	#main-menu .site-branding {
		align-self: flex-start;
	}

	#main-menu .site-description {
		display: none;
	}

	#main-menu nav {
		display: none;
		margin: 1rem 0;
		-webkit-flex: 0 1 100%;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}

	#main-menu nav a {
		width: 100%;
	}

	#main-menu nav li.menu-item-has-children > a {
		width: calc(100% - 4rem);
	}

	#main-menu nav li {
		border-top: 1px solid rgba(255, 153, 153, 0.34);
		display: flex;
		align-items: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#main-menu nav li:last-child {
		border-bottom: 1px solid rgba(255, 153, 153, 0.34);
	}

	#main-menu nav ul ul {
		margin-left: 0.85rem;
		-webkit-flex: 0 1 100%;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}

	#page {
		margin: 1.5rem;
	}

	#main article {
		background-color: rgba(0, 0, 0, 0.4);
	}

	#sidebar {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 3rem;
	}

	.admin-bar #main-menu {
		top: 46px;
	}
}

@media screen and (max-width: 35em) {
	#page {
		border-radius: 0;
		margin: 0;
		width: auto;
		padding: 1rem;
	}

	#main .outer-post-thumb {
		display: block;
		width: 100%;
	}

	#main .outer-post-thumb a {
		display: block;
		overflow: hidden;
		height: 100%;
		border-radius: 1rem 1rem 0 0;
	}

	#main .outer-post-thumb img {
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		object-fit: cover;
	}

	#main article {
		background-color: rgba(0, 0, 0, 0.4);
	}

	#main .outer-post-thumb img:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

	#main .inner-post-thumb {
		display: none;
	}

	#sidebar {
		width: auto;
	}
}

@media screen and (max-width: 21em) {
	#main-menu a.custom-logo-link {
		display: none;
	}
}